.title {
  margin-top: 100px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 300px;
}

.form-container .add {
  margin: 10px;
  background-color: #85ccfbff;
}
