* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.room-main-page-container .row {
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100vw;
  height: 85vh;
  display: flex;
}

.left-section {
  width: 75%;
  padding: 15px; /* 可以根据需要进行调整 */
}

.right-section {
  width: 25%;
  padding: 15px; /* 可以根据需要进行调整 */
}

/* 視訊部分 */
.video-container {
}

.video-grid {
  width: 100%;
}

.video-grid > video {
  z-index: 0;
}

video:not(.local-video) {
}

.button-container {
  position: relative;
  bottom: 50px;
  left: 10px;
  z-index: 1;
}

/* 文字對話框 */
.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-content {
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.input-section {
  display: flex;
  height: 30%;
}

.chat-input {
  width: 75%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.send-btn {
  margin: 5px;
  width: 25%;
}

#historyMessage {
}
