.dashboard-container {
  width: 90%;
  height: 90vh;
  margin: 100px auto;
  border-radius: 30px;
  /* position: relative; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

.dashboard-container .reportrange {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: auto;
  text-align: center;
}

.dashboard-container .salary-data-container {
  width: 90%;
  height: 30%;
  padding: 10px;
  font-size: 20px;
  background-color: lightpink;
}

.dashboard-container .course-data-container {
  width: 90%;
  height: 30%;
  margin-top: 50px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(200, 200, 200);
}

.dashboard-container .other-data-container {
  width: 90%;
  height: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(200, 200, 200);
}
